@font-face {
    font-family:'DroidSerif Bold';
    src:url('../fonts/droid-serif.bold.ttf') format('truetype'),
    url('../fonts/droid-serif.bold.eot#iefix') format('embedded-opentype'),
    url('../fonts/droid-serif.bold.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}